﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
          name="viewport" />
    <title>@ViewBag.Title &mdash; Admin Panel</title>

    <!-- General CSS Files -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous" />

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/node_modules/jqvmap/dist/jqvmap.min.css" />
    <link rel="stylesheet"
          href="~/node_modules/weathericons/css/weather-icons.min.css" />
    <link rel="stylesheet"
          href="~/node_modules/weathericons/css/weather-icons-wind.min.css" />
    <link rel="stylesheet"
          href="~/node_modules/summernote/dist/summernote-bs4.css" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/components.css" />
    <link rel="stylesheet" href="~/assets/css/myStyle.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               data-toggle="search"
                               class="nav-link nav-link-lg d-sm-none">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#"
                           data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image"
                                 src="~/assets/img/avatar/avatar-1.png"
                                 class="rounded-circle mr-1" />
                            <div class="d-sm-none d-lg-inline-block">
                                @User.Identity.Name
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html"
                               class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="User" asp-action="Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-controller="Dashboard" asp-action="Index">211 Studios</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a asp-controller="Dashboard" asp-action="Index">211</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="nav-item dropdown">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-users"></i> <span>Users</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="User" asp-action="Index">All users</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="User" asp-action="Create">Create new user</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="UserSocial" asp-action="Index">Social medias</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="UserSocial" asp-action="Create">Add social media</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="TeamMemberBanner" asp-action="Index">Team member banner</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Slider</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Slider" asp-action="Index">All sliders</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Slider" asp-action="Create">Add new slider</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-gamepad"></i> <span>Games</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Game" asp-action="Index">All games</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Game" asp-action="Create">Add new game</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Categories</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Category" asp-action="Index">All categories</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Category" asp-action="Create">Add new category</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fab fa-delicious"></i> <span>Platforms</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Platform" asp-action="Index">All platforms</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Platform" asp-action="Create">Add new platform</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-building"></i> <span>Our Company</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Company" asp-action="Index">About Company</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-address-card"></i> <span>Bio</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Bio" asp-action="Index">Bio Informations</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-share-alt"></i> <span>Social Medias</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Social" asp-action="Index">All social medias</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Social" asp-action="Create">Add new social media</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Blogs</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-controller="Blog" asp-action="Index">All blogs</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Blog" asp-action="Create">Add new blog</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="utilities-contact.html">Contact</a></li>
                                <li>
                                    <a class="nav-link" href="utilities-invoice.html">Invoice</a>
                                </li>
                                <li><a href="utilities-subscribe.html">Subscribe</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="credits.html"><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a>
                        </li>
                    </ul>

                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="https://getstisla.com/docs"
                           class="btn btn-primary btn-lg btn-block btn-icon-split">
                            <i class="fas fa-rocket"></i> Documentation
                        </a>
                    </div>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    @RenderBody()
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2018
                    <div class="bullet"></div>
                    Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
                </div>
                <div class="footer-right">2.3.0</div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/node_modules/simpleweather/jquery.simpleWeather.min.js"></script>
    <script src="~/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/node_modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script src="~/node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/index-0.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
