﻿
@{
    ViewData["Title"] = "Users";
    List<UserViewModel> users = Model;
}

<div class="section-header">
    <h1>Users</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @if (users.Count == 0 || users == null)
                    {
                        <div class="alert alert-warning">There are no user yet, please add user</div>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Fullname</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in users)
                                {
                                    <tr>
                                        <td>
                                            <figure class="avatar mr-2 avatar-xl mt-2">
                                                <img src="~/images/@user.Image" />
                                            </figure>
                                        </td>
                                        <td>@user.FullName</td>
                                        <td>@user.Position</td>
                                        <td>@user.Role</td>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@user.Id" class="btn btn-success">Detail</a>
                                            <a asp-action="Update" asp-route-id="@user.Id" class="btn btn-warning">Update</a>
                                            <a asp-action="ChangePassword" asp-route-id="@user.Id" class="btn btn-info">Change Password</a>
                                            <a asp-action="ChangeRole" asp-route-id="@user.Id" class="btn btn-primary">Change Role</a>
                                            @if (user.IsActive)
                                            {
                                                <a asp-action="Activity" asp-route-id="@user.Id" class="btn btn-danger">Deactivate</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Activity" asp-route-id="@user.Id" class="btn btn-success">Activate</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                @if (ViewBag.PageCount != 0)
                {
                    <div class="mt-3">
                        <ul class="pagination" style="justify-content: center; align-items: center">
                            @if (ViewBag.Page == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                @if (ViewBag.Page == i)
                                {
                                    <li class="page-item disabled"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                            }
                            @if (ViewBag.Page == ViewBag.PageCount)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)"><i class="fas fa-chevron-right"></i></a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)"><i class="fas fa-chevron-right"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

